# DB Creds for AirFlow Config
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example

# DB Creds for Stackflow db
PG_USER=example
PG_PASSWORD=example
PG_DATABASE=example
PG_HOST=example
PG_PORT=example

# CoinGecko API
API_KEY=example