# DB Creds for AirFlow Config
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example

# DB Creds for Stackflow db
PG_USER=example
PG_PASSWORD=example
PG_DATABASE=example
PG_HOST=example
PG_PORT=example

# IAM User for S3/Boto3
AWS_ACCESS_KEY_ID=example
AWS_SECRET_ACCESS_KEY=example
AWS_REGION=example

# CoinGecko API
API_KEY=example